<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 核心样式文件 -->
    <link th:href="@{/js/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-treeview/dist/bootstrap-treeview.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootStrap-addTabs/bootstrap.addtabs.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-dialog/dist/css/bootstrap-dialog.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-fileinput/css/fileinput.min.css}" rel="stylesheet">
    <!-- 核心js文件 -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-treeview/dist/bootstrap-treeview.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table/dist/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-dialog/dist/js/bootstrap-dialog.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-fileinput/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-fileinput/js/locales/zh.js}"></script>
</head>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var context = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
</html>