<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>民大it报</title>
    <!-- 引入核心js,css文件 -->
    <footer th:replace="common/jscore" />
</head>
<style>
    #wrap {
        display:block;
        bottom:2.1%;
        right:31%;
        !important;
        width:80px;
        line-height:30px;
        position:fixed;
        border:1px solid #fff;
        text-align:center;
        /*color:#fff;*/
        /*background:#000;*/
    }
</style>
<body>
<div style="width: 40%;margin-left: 30%;background:url(../../../image/bg-1.png);height: 932px">
    <div class="container-fluid">
        <div class="span12">
            <h2>
                <strong>[[${thisEntity?.newsTitle}]]</strong>
            </h2>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row" style="margin-left: 10px">
            <div class="span12" th:utext="${thisEntity?.newsNote}">
            </div>
        </div>
    </div>
    <div bgcolor="white"  style="text-align: center;float: left;margin-top: 91.1%;margin-left: 100px;">邮箱：684218397@qq.com</div>
    <div style="" id="wrap" >
        <span bgcolor="white">民大IT报</span>
        <img id="" th:src="@{image/2.jpg}" alt="Second slide" height="80px" width="80px">
    </div>
</div>
</body>

</html>