<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成员管理</title>
    <!-- 引入js核心文件 -->
    <footer th:replace="common/jscore" />
</head>
<body>
<div id="toolbar">
    <button class="btn btn-success" type="button" onclick="addUser()">
        <i class="glyphicon glyphicon-plus">
        </i>新增
    </button>
</div>
<table id="userTable"></table>
</body>
<script type="text/javascript">
    $("#userTable").bootstrapTable({
        url:"/findUser",
        contentType : "application/x-www-form-urlencoded",//必须的否则条件查询时会乱码
        //查询参数：条件查询时使用
        toolbar:'#toolbar',
        pagination:true, //是否展示分页
        pageList:[5, 10,15],//分页组件
        pageNumber:1,
        pageSize:5,//默认每页条数
        method:'get',//发送请求的方式
        clickToSelect: true, //是否启用点击选中行
        sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
        striped:true,
        queryParams:function(){
            return{
                "page":(this.pageNumber-1)*this.pageSize,
                "limit":this.pageSize,
            }
        },
        columns:[
            {field:'userId',align:'center',width:50,visible: false},
            {field:'userName',title:'成员',align:'center',width:400},
            {field:'userSex',title:'性别',align:'center',width:500,formatter:function(value,rows,index){
                if(value == 0) {
                    return "男";
                }else if(value == 1){
                    return "女";
                }else{
                    return "扶他";
                }
             }},
            {field:'stuNumb',title:'学号',align:'center',width:500},
            {field:'userClass',title:'所在班级',align:'center',width:500},
            {field:'userPhone',title:'成员电话',align:'center',width:500},
            {field:'depName',title:'所在部门',align:'center',width:500},
            {field:'userQq',title:'成员QQ',align:'center',width:500},
            {field:'cc',title:'操作',align:'center',width:350,formatter:function(value,rows,index){
                    var str="";
                    str+="<button class='btn btn-info dim' type='button' onclick='delUser(\""+rows.userId+"\")' ><i class='fa fa-paste'></i>删除</button>"+"  ";
                    str+="<button class='btn btn-info dim' type='button' onclick='updateDepartment(\""+rows.userId+"\")' ><i class='fa fa-paste'></i>修改</button>";
                    return  str;
                }
            }]
    })
    function addUser(){
        BootstrapDialog.show({
            title:"添加用户",
            closable: false,
            message:$('<div><div>').load('/toInsertUser'),
            buttons:[{
                label:"提交",
                cssClass:'btn-primary',
                action:function(dialogItself){
                    var adduserflag = chenckAddUserForm();
                    if (!adduserflag){
                        return;
                    }
                    var id = $("#userId").val();
                    var username = $("#userName").val();
                    var userpassword = $("#userPassword").val();
                    var usersex = $("#userSex").val();
                    var userclass = $("#userClass").val();
                    var stunumb = $("#stuNumb").val()
                    var userphone = $("#userPhone").val();
                    var depname = $("#depName").val();
                    var userqq = $("#userQq").val();
                    $.ajax({
                        url:"/createUser",
                        data:{
                            "userId":id,
                            "userName":username,
                            "userPassword":userpassword,
                            "userSex":usersex,
                            "userClass":userclass,
                            "stuNumb":stunumb,
                            "userPhone":userphone,
                            "depName":depname,
                            "userQq":userqq
                        },
                        dataType:"text",
                        type:"post",
                        success:function(date){
                            dialogItself.close();
                            $("#userTable").bootstrapTable('refresh',{pageNumber:1});
                        },
                        error:function(){
                            BootstrapDialog.show({
                                title:"fuck！！",
                                message:'哇哦！系统走丢了！！'
                            })
                        }
                    })
                }
            },{
                label:"取消",
                cssClass:'btn-warning',
                action:function(data){
                    data.close();
                }
            }]
        })
    }
    function updateDepartment(id){
        BootstrapDialog.show({
            title:"修改用户",
            closable: false,
            message:$('<div><div>').load('/toUpdUser?userId='+id),
            buttons:[{
                label:"提交",
                cssClass:'btn-primary',
                action:function(dialogItself){
                    var adduserflag = chenckupdUserForm();
                    if (!adduserflag){
                        return;
                    }
                    var id = $("#userId").val();
                    var username = $("#userName").val();
                    var userpassword = $("#userPassword").val();
                    var usersex = $("#userSex").val();
                    var userclass = $("#userClass").val();
                    var stunumb = $("#stuNumb").val()
                    var userphone = $("#userPhone").val();
                    var depname = $("#depName").val();
                    var userqq = $("#userQq").val();
                    $.ajax({
                        url:"/updateUser",
                        data:{
                            "userId":id,
                            "userName":username,
                            "userPassword":userpassword,
                            "userSex":usersex,
                            "userClass":userclass,
                            "stuNumb":stunumb,
                            "userPhone":userphone,
                            "depName":depname,
                            "userQq":userqq
                        },
                        dataType:"text",
                        type:"post",
                        success:function(date){
                            dialogItself.close();
                            $("#userTable").bootstrapTable('refresh',{pageNumber:1});
                        },
                        error:function(){
                            BootstrapDialog.show({
                                title:"fuck！！",
                                message:'哇哦！系统走丢了！！'
                            })
                        }
                    })
                }
            },{
                label:"取消",
                cssClass:'btn-warning',
                action:function(data){
                    data.close();
                }
            }]
        })
    }
    //删除成员
    function delUser(id){
        if(id != ""){
            $.ajax({
                url:'/delUserByUserId',
                type:'post',
                data:{
                    userId:id
                },
                dataType:'json',
                success:function(data){
                    if (data) {
                        $("#userTable").bootstrapTable('refresh',{pageNumber:1});
                    }else {
                        bootbox.alert('删除数据失败');
                    }
                }
            })
        }
    }
</script>
</html>