<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/editorjs">
    <meta charset="UTF-8">
    <title>新闻添加页面</title>
</head>
<body>
<input type="hidden"  class="form-control" id="newsId" th:value="${thisEntity?.newsId}">
<label>标题:</label>
<input type="text"  class="form-control" id="newsTitle" th:value="${thisEntity?.newsTitle}">
<label>正文:</label>
<div type="text/plain" id="newsNote" style=" width: 569px;" ></div>
<script type="text/javascript">
    var newsUpdEditor = UM.getEditor('newsNote');
    $(function () {
        $.ajax({
            url:"/findNewspaperById",
            data:{
                'newsId' : [[${thisEntity?.newsId}]]
            },
            dataType:"json",
            type:"get",
            success:function(data){
                newsUpdEditor.setContent(data.newsNote);
            },
            error:function(){
                BootstrapDialog.show({
                    title:"温馨提示",
                    message: '系统出现BUG！请联系管理员！'
                });
            }

        })
    })

    function chenckUpdNewsForm() {
        var newsText = newsUpdEditor.getPlainTxt();
        if ($("#newsTitle").val()==""){
            alert("标题为空");
            return false;
        }
        else if (newsText == "" ){
            alert("内容为空");
            return false;
        }
        return true;
    }
/*    <!-- 追加内容 -->
    function setContent() {
        $.ajax({
            url:'/getMsg',
            type:'get',
            success:function (data) {
                newsUpdEditor.setContent(data);
            }
        })
    }*/
</script>
</body>
</html>