<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻修改页面</title>
    <head th:replace="common/editorjs" />
</head>
<body>
    <script type="text/plain" id="add_editor"></script>
    <button id="testone" onclick="getPlainTxt()">获取内容</button>
    <button id="insertHtml" onclick="setContent()">追加内容</button>
    <script type="text/javascript">
        var schoolAddEditor = UM.getEditor('add_editor');
        <!-- 获取内容并存到session -->
        function getPlainTxt() {
            alert(schoolAddEditor.getPlainTxt())
               /* $.ajax({
                    url:'/createMsg',
                    type:'post',
                    data:{
                        "msg":schoolAddEditor.getPlainTxt()
                    }
                })*/
        }
        <!-- 追加内容 -->
        function setContent() {
           /* $.ajax({
                url:'/getMsg',
                type:'get',
                success:function (data) {
                    alert(data)
                    //清空并赋值
                    //schoolAddEditor.setContent(data,false);
                    //换行赋值
                    //schoolAddEditor.setContent(data,true);
                    //默认清空并赋值
                    schoolAddEditor.setContent(data);
                }
            })*/
        }
    </script>
</body>
</html>