<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <!-- 引入js核心文件 -->
    <footer th:replace="common/jscore" />
</head>
<body>
<div id="toolbar">
    <button class="btn btn-success" type="button" onclick="addDepartment()">
        <i class="glyphicon glyphicon-plus">
        </i>新增
    </button>
</div>
<table id="departmentTable"></table>
</body>
<script type="text/javascript">
    $("#departmentTable").bootstrapTable({
        url:"/findDepartment",
        contentType : "application/x-www-form-urlencoded",//必须的否则条件查询时会乱码
        //查询参数：条件查询时使用
        toolbar:'#toolbar',
        pagination:true, //是否展示分页
        pageList:[5, 10],//分页组件
        pageNumber:1,
        pageSize:5,//默认每页条数
        method:'get',//发送请求的方式
        clickToSelect: true, //是否启用点击选中行
        sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
        striped:true,
        queryParams:function(){
            alert((this.pageNumber-1)*this.pageSize)
            return{
                "page":(this.pageNumber-1)*this.pageSize,
                "limit":this.pageSize,
            }
        },
        columns:[
            // {checkbox:true},
            {field:'depId',align:'center',width:50,visible: false},
            {field:'depName',title:'部门名称',align:'center',width:400},
            {field:'depFunction',title:'部门职能',align:'center',width:500},
            {field:'tp',title:'部门图片',align:'center',width:350,formatter:function(value,rows,index){
                var str="";
                str+="<a><img width='210' class='picture-thumb' src= \""+rows.depPhoto+"\"></a>";
                return  str;
            }
            },{field:'cc',title:'操作',align:'center',width:350,formatter:function(value,rows,index){
                    var str="";
                    str+="<button class='btn btn-info dim' type='button' onclick='delDepartment(\""+rows.depId+"\")' ><i class='fa fa-paste'></i>删除</button>"+"  ";
                    str+="<button class='btn btn-info dim' type='button' onclick='updateDepartment(\""+rows.depId+"\")' ><i class='fa fa-paste'></i>修改</button>";
                    return  str;
                }
            }]
    })
    //添加部门
    function addDepartment(){
        BootstrapDialog.show({
            title:"添加部门",
            closable: false,
            message:$('<div><div>').load('/toInsertDepartment'),
            buttons:[{
                label:"取消",
                cssClass:'btn-warning',
                action:function(data){
                    data.close();
                }
            }]
        })
    }
    //修改部门
    function updateDepartment(id){
        if(id != ""){
            BootstrapDialog.show({
                title:"修改部门",
                closable: false,
                message:$('<div><div>').load('/toUpdateDepartment?depId='+id),
                buttons:[{
                    label:"取消",
                    cssClass:'btn-warning',
                    action:function(data){
                        data.close();
                    }
                }]
            })
        }
    }
    function delDepartment(id){
        if(id != ""){
            $.ajax({
                url:'/delDepartment',
                type:'post',
                data:{
                    depId:id
                },
                dataType:'json',
                success:function(data){
                    if (data) {
                        window.location.href = "";
                    }else {
                        bootbox.alert('删除数据失败');
                    }
                }
            })
        }
    }
</script>
</html>