<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <!-- 引入js核心文件 -->
    <footer th:replace="common/jscore" />
</head>
<body>
<div id="toolbar">
    <button class="btn btn-success" type="button" onclick="addDepartment()">
        <i class="glyphicon glyphicon-plus">
        </i>新增
    </button>
</div>
<table id="departmentTable"></table>
</body>
<script type="text/javascript">
    $("#departmentTable").bootstrapTable({
        url:"/findDepartment",
        contentType : "application/x-www-form-urlencoded",//必须的否则条件查询时会乱码
        //查询参数：条件查询时使用
        toolbar:'#toolbar',
        queryParams:function(params){
            return{
                "page":this.pageNumber,
                "limit":this.pageSize,
            }
        },
        columns:[
            // {checkbox:true},
            {field:'depId',align:'center',width:50,visible: false},
            {field:'depName',title:'部门名称',align:'center',width:400},
            {field:'depFunction',title:'部门职能',align:'center',width:500},
            {field:'depPhoto',title:'部门图片',align:'center',width:350,formatter:function(value,rows,index){
                var str="";
                str+="<img width='210' class='picture-thumb' src= \""+value+"\">";
                return  str;
            }
            },{field:'cc',title:'操作',align:'center',width:350,formatter:function(value,rows,index){
                    var str="";
                    str+="<button class='btn btn-info dim' type='button' onclick='delDepartment(\""+rows.depId+"\")' ><i class='fa fa-paste'></i>删除</button>"+"  ";
                    str+="<button class='btn btn-info dim' type='button' onclick='updateDepartment(\""+rows.depId+"\")' ><i class='fa fa-paste'></i>修改</button>";
                    return  str;
                }
            }],
        pagination:true,
        pageNumber:1,
        pageSize:5,
        pageList:[5,10,15],
        clickToSelect: true,
        cache搜索: false,
        sidePagination:"server"
    })
    //添加
    function addDepartment(){
        BootstrapDialog.show({
            title:"添加",
            closable: false,
            message:$('<div><div>').load('/toInsertDepartment'),
            buttons:[{
                label:"提交",
                cssClass:'btn-primary',
                action:function(dialogItself){
                    var checkSaveDep = saveDepartment();
                    if (!checkSaveDep){
                        return;
                    }
                    var departmentnames = $("#depName").val().trim();
                    var depfunction = $("#depFunction").val().trim();
                    var file = document.getElementById("depImg").files[0];
                    var formData = new FormData();
                    formData.append('depName', departmentnames);
                    formData.append('depFunction', depfunction);
                    formData.append('depImg', file);
                    $.ajax({
                        url: "/createDepartment",
                        type: "post",
                        data: formData,
                        contentType: false,
                        processData: false,
                        mimeType: "multipart/form-data",
                        success:function(date){
                            dialogItself.close();
                            $("#departmentTable").bootstrapTable('refresh',{pageNumber:1});
                        },
                        error:function(){
                            BootstrapDialog.show({
                                title:"fuck！！",
                                message:'哇哦！系统走丢了！！'
                            })
                        }
                    })
                }
            },{
                label:"取消",
                cssClass:'btn-warning',
                action:function(data){
                    data.close();
                }
            }]
        })
    }
    //修改方法
    function updateDepartment(ids){
        if(ids!=""){
            BootstrapDialog.show({
                title:"修改页面",
                closable: false,
                message:$('<div><div>').load('/toUpdateDepartment?depId='+ids),
                buttons: [ {
                    label: '保存',
                    cssClass: 'btn-primary',
                    action: function(dialogItself){
                        var checkUpdateDepartments=chenckDepForm();
                        debugger;
                        if(!checkUpdateDepartments){
                            return;
                        }
                        var depIds = $("#depId").val();
                        var departmentnames = $("#depName").val().trim();
                        var depfunction = $("#depFunction").val().trim();
                        var file = document.getElementById("depImg").files[0];
                        var formData = new FormData();
                        formData.append("depId",depIds);
                        formData.append('depName', departmentnames);
                        formData.append('depFunction', depfunction);
                        if(typeof (file) != "undefined"){
                            formData.append('depImg', file);

                        }
                        $.ajax({
                            url: "/updateDepartment",
                            type: "post",
                            data: formData,
                            contentType: false,
                            processData: false,
                            mimeType: "multipart/form-data",
                            success:function(data){
                                dialogItself.close();
                                $("#departmentTable").bootstrapTable('refresh',{pageNumber:1});
                            },
                            error:function(){
                                BootstrapDialog.show({
                                    title:"温馨提示",
                                    message: '系统出现BUG！请联系管理员！'
                                });
                            }

                        })
                    }
                }, {
                    label: '取消',
                    cssClass: 'btn-warning ',
                    action: function(dialogItself){
                        dialogItself.close();
                    }
                }]
            });
        }
    }
    //删除
    function delDepartment(ids){
        if(ids!=""){
            BootstrapDialog.show({
                title:"删除确认",
                message:"确定要删除吗？",
                buttons: [ {
                    label: '确认',
                    cssClass: 'btn-primary',
                    action: function(dialogItself){
                        $.ajax({
                            url:"/delDepartment",
                            data:{
                                "depId":ids
                            },
                            dataType:"text",
                            type:"post",
                            success:function(data){
                                dialogItself.close();
                                $("#departmentTable").bootstrapTable('refresh',{pageNumber:1});
                            },
                            error:function(){
                                BootstrapDialog.show({
                                    message: '系统出现BUG！请联系管理员！'
                                });
                            }
                        })
                    }
                }, {
                    label: '取消',
                    cssClass: 'btn-warning ',
                    action: function(dialogItself){
                        dialogItself.close();
                    }
                }]
            });
        }
    }
</script>
</html>