<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改部门页面</title>
</head>
<body>
<div class="row">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" id="testform" method="post" action="/updateDepartment">
        <input type="hidden" th:value="${dep.depId}" id="depId" name="depId">
        <input type="hidden" th:value="${dep.depPhoto}" id="depPhoto" name="depPhoto">
        <div class="control-group">
            <label for="depName" class="col-md-3 control-label span3">部门名称:</label>
            <div class="col-md-9">
                <input type="text" class="form-control span3" th:value="${dep.depName}" id="depName" name="depName">
            </div>
        </div>
        <div class="control-group">
            <label for="depFunction" class="col-md-3 control-label span3">部门职能:</label>
            <div class="col-md-9">
                <input type="text" class="form-control span3" th:value="${dep.depFunction}" id="depFunction" name="depFunction">
            </div>
        </div>
        <div class="control-group">
            <label class="col-md-3 control-label span3"></label>
            <div class="col-md-9">
                <img id="files" th:src="${dep.depImg}" width="100px" height="100px">
            </div>
        </div>
        <div class="control-group">
            <label for="photoCover" class="col-md-3 control-label span3">图片上传</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input id="photoCover" class="form-control" readonly type="text">
                    <label class="input-group-btn">
                        <input id="depImg" type="file" name="depImg" style="left: -9999px; position: absolute;">
                        <span class="btn btn-default">选择图片</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="col-md-2 control-label span2"></label>
            <div class="col-md-10">
                <a class="btn btn-small btn-danger" onclick="updateDepartment()">提交</a>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    //html5实现图片预览功能
    $(function () {
        $("#depImg").change(function (e) {
            var file = e.target.files[0] || e.dataTransfer.files[0];
            $('#photoCover').val(document.getElementById("depImg").files[0].name);
            if (file) {
                var reader = new FileReader();
                reader.onload = function () {
                    $("#files").attr("src", this.result);
                }
                reader.readAsDataURL(file);
            }
        });
    })
    function updateDepartment() {
        if($("#depName").val()==""){
            alert("请输入部门名称")
            return false;
        }else if($("#depFunction").val()==""){
            alert("请输入部门职能")
            return false;
        }else{
            var depIds = $("#depId").val();
            var departmentnames = $("#depName").val().trim();
            var depfunction = $("#depFunction").val().trim();
            var file = document.getElementById("depImg").files[0];
            var formData = new FormData();
            formData.append("depId",depIds);
            formData.append('depName', departmentnames);
            formData.append('depFunction', depfunction);
            formData.append('depImg', file);
            $.ajax({
                url: "/updateDepartment",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                mimeType: "multipart/form-data",
                success: function () {
                    window.location.href = "";
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    }
</script>
</html>